<% content_for :title do %> - Agreement
<% end %>

<div class="container mt-5">
  <ol class="breadcrumb pl-0 bg-transparent">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/">Legal</a></li>
    <li class="breadcrumb-item active">Agreement</li>
  </ol>

  <h3>Agreement</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eius illum nisi quis quo quod reiciendis repellendus. A consequatur corporis deserunt dolorum est eveniet quasi quis. Commodi expedita iste magni.
  </p>
</div>