<% content_for :title do %> - <%= @category.category %>
<% end %>

<% content_for :banner_content do %>
    <h1 class="display-5">Category: <%= @category.category %></h1>
    <p class="mb-0">
      <%= @category.description %>
    </p>
<% end %>

<%= render template: 'layouts/base' %>