<% content_for :title do %> - Homepage
<% end %>

<% content_for :banner_content do %>
    <h1 class="display-4"><%= t(:hello) %></h1>
    <p>
      <%= t(:description) %>
    </p>
    <a class="btn btn-primary" href="<%= blog_trending_path %>">Explore Article »</a>
<% end %>

<%= render template: 'layouts/base' %>