<% content_for :title do %> - Result of <%= @query %>
<% end %>

<% content_for :banner_content do %>
    <h1 class="display-5 mb-0">Search: "<%= @query %>"</h1>
    <p class="mb-0">Found <%= @articles.total_count %> articles</p>
<% end %>

<%= render template: 'layouts/base' %>