<% content_for :title do %> - Tag <%= @tag.tag %>
<% end %>

<% content_for :banner_content do %>
    <h1 class="display-5 mb-0">
      Tag: <%= @tag.tag %>
    </h1>
<% end %>

<%= render template: 'layouts/base' %>