<% content_for :title do %> - Articles of this month
<% end %>

<% content_for :banner_content do %>
    <h1 class="display-5">Articles of this month</h1>
    <p>
      Most viewed article in last 30 days.
    </p>
<% end %>

<%= render template: 'layouts/base' %>