// Place all the styles related to the Blog controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

ul li {
  line-height: 1.8;
}

a:hover {
  text-decoration: none;
}

.arrow {
  border: 6px solid #999999;
  width: 0;
  height: 0;
  margin: 2px;
  display: block;

  &:hover {
    border-color: #007bff;
  }

  &.arrow-down {
    border-bottom: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  &.arrow-up {
    border-top: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

.list-node li + li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #999999;
  display: inline-block;
  margin: 3px 5px 3px 0;
}

.custom-file-control {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.custom-file-control:before {
  content: "Browse";
}

.custom-file-control:after {
  content: "Select files..";
}

.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}

.modal-header {
  border-bottom: none;
}

.bootstrap-tagsinput {
  width: 100%;
  box-shadow: none;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
}

.note-editor.note-frame {
  border-color: #f7f7f7;
}

.note-editor.note-frame .note-placeholder {
  font-size: 18px;
}

.note-icon-font.note-recent-color {
  background-color: transparent !important;
  color: inherit !important;
}