// Place all the styles related to the Blog controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

ul li {
  line-height: 1.8;
}

a:hover {
  text-decoration: none;
}

.arrow {
  border: 6px solid #999999;
  width: 0;
  height: 0;
  margin: 2px;
  display: block;

  &:hover{
    border-color: #007bff;
  }

  &.arrow-down {
    border-bottom: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  &.arrow-up {
    border-top: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

.list-node li+li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #999999;
  display: inline-block;
  margin: 3px 5px 3px 0;
}

.custom-file-control:before{
  content: "Browse";
}
.custom-file-control:after{
  content: "Select files..";
}