// Place all the styles related to the Blog controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

ul li {
  line-height: 1.8;
}

.sidebar-list li {
  line-height: 2.2;
}

a:hover {
  text-decoration: none;
}

article {
  line-height: 2;
}

.badge-tag {
  font-weight: inherit;
  padding: 0.5em 0.8em;
}

.arrow {
  border: 6px solid #999999;
  width: 0;
  height: 0;
  margin: 2px;
  display: block;

  &:hover {
    border-color: #007bff;
  }

  &.arrow-down {
    border-bottom: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  &.arrow-up {
    border-top: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

.list-node li + li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #999999;
  display: inline-block;
  margin: 3px 5px 3px 0;
}

.custom-file-control {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.custom-file-control:before {
  content: "Browse";
}

.custom-file-control:after {
  content: "Select files..";
}

.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}

.btn-vote {
  &:active, &:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none
  }

  &.disabled,
  &[disabled] {
    pointer-events: none;

    .arrow {
      &.arrow-up {
        border-bottom-color: #cccccc;
      }
      &.arrow-down {
        border-top-color: #cccccc;
      }
    }
  }
}

.modal-header {
  border-bottom: none;
}

.card-footer {
  background-color: rgba(0, 0, 0, 0.02);
}

.bootstrap-tagsinput {
  width: 100%;
  box-shadow: none;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
}

.note-editor.note-frame {
  border-color: #f7f7f7;
}

.note-editor.note-frame .note-placeholder {
  font-size: 18px;
}

.note-icon-font.note-recent-color {
  background-color: transparent !important;
  color: inherit !important;
}

.panel-heading {
  @extend .card-header;
}

.note-btn-group {
  .btn-default {
    @extend .btn-light;

    &:after {
      content: inherit;
    }
  }

  .dropdown-menu {
    > li {
      > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
      }
    }
  }
}

.note-popover .popover-content .note-color .dropdown-toggle,
.note-editor .panel-heading.note-toolbar .note-color .dropdown-toggle {
  width: 20px;
  padding-left: 1px;
}